# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/

# Environment Variables

backend/.env

# Uploads / Storage
backend/uploads/*
!backend/uploads/.gitkeep

# IDEs & Databases
.vscode/
.idea/
*.db
*.sqlite3
.mongo/
